<section>
    <div class="container color_primary text-center py-5">
        <h1 class="display-4">Discover the world with Travel App</h1>
        <p class="lead">
            Plan your next trip in just a few clicks</p>
        <a href="/travel" class="btn btn_primary btn-lg">Start now</a>
    
        <div class="my-5">
            <section class="row row-cols-1 g-5">
                <div class="col">
                    <div class="card">
                        <div class="box-image">
                            <img src="/select-mounth.png" alt="Seleziona mese">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Select the month you want to travel</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="box-image">
                            <img src="/select-day.png" alt="Seleziona giorno">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Select the day of the mounth</h5>
                            <p class="card-text">Click on the plus to select it</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/compile-form.png" alt="Offerte speciali">
                        <div class="card-body">
                            <h5 class="card-title">Add the place you want to visit</h5>
                            <p class="card-text">Be careful not to enter the wrong location or the system will not save your location. If you want is possible add a image and a description from place</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/edit-delete-image.png" alt="Offerte speciali">
                        <div class="card-body">
                            <h5 class="card-title">You can modify or delete the trip</h5>
                            <p class="card-text">If you entered the location incorrectly, you can modify or delete the trip</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/single-trip.png" alt="Offerte speciali">
                        <div class="card-body">
                            <h5 class="card-title">Click on card to show the single trip</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/map-travels.png" alt="Offerte speciali">
                        <div class="card-body">
                            <h5 class="card-title">Your trips will be displayed on the map</h5>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    
        <a href="/travel" class="btn btn_primary btn-lg">Start now</a>
        
    
    </div>
</section>

<style scoped>
    .color_primary{
        color: #00171f;
    }

    .card{
        border-radius: 50px !important;
        overflow: hidden;
        
        .box-image{

            img {
               max-width: 100%;
               object-fit: cover;
           }
        }
    }
</style>