<div class="container mx-auto m-4 p-2">
    <div class="d-flex">
        <div class="box_image w-75">
            @if (travel.image) {
            <img class="" src="{{travel.image}}" alt="">
            }@else {
            <img class="" src="/not_available.jpg" alt="" style="object-fit: contain;">
            }
        </div>
    
        <div class="d-flex justify-content-center align-items-center flex-column w-25 px-3">
            <div class="date my-4 d-flex justify-content-center align-items-center">
                <h4 class="text-center fw-light text-white p-2">{{travel.date}}</h4>
            </div>
            <h2 class="text-center fw-light py-3">{{travel.place}}</h2>
            @if (travel.description) {
            <p class="text-center w-100 textCut">{{travel.description}}</p>
            } @else {
            <p class="text-center w-100" style="color: lightgray;">Nessuna descrizione</p>
            }
            <a href="" class="btn btn-success">Go Back</a>
        </div>
    
    </div>

</div>