@import '~leaflet/dist/leaflet.css';

body {
    font-family: "Rubik";
    font-weight: 300;
    background-color: #eeeeee;
}

.btn_primary {
    background-color: #00171f;
    color: white;

    
}

.btn:hover{
    border-color: #00171f;
}