<!-- Generate Jumbotron -->
@if (formInit) {
<app-jumbotron [title]="'Welcome to Travel App'" [subTitle]="'Here you can plan and manage your trips'"></app-jumbotron>
}@else {
<app-jumbotron [title]="'Select the days you will need to travel'"
    [subTitle]="'Click on + and add the data for yout trip'"></app-jumbotron>
}
<div class="container py-3 my-3">
    <!-- Selected Mounth and generate Calendar -->
    @if(formInit){

    <h2 class="text-center fw-light py-5">Select your mounth for travels</h2>
    <div class="px-5 pb-5" id="selectMounth">
        <label for="" class="form-label">Mounth</label>
        <div class="d-flex">
            <select class="form-select form-select-lg" id="monthSelect" [(ngModel)]="mounth" required>
                @for (mounth of months; track $index) {
                <option [value]="mounth">{{ mounth }}</option>
                }
            </select>
            <button type="submit" class="btn btn_primary" (click)="saveMount()">
                Send
            </button>

        </div>
    </div>
    }@else {

    <div class="d-flex justify-content-center align-items-center gap-3">
        <h1 class="text-center display-3 py-3">{{mounth}}</h1>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalId">
            Change Mounth
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">
                            Are you sure you want to change the month?
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>If you change the month, the stages that are present in this month will be deleted</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            (click)="deleteMounth()">Yes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row g-3">
        @if(mounth === "June"||mounth === "April"||mounth === "September"||mounth === "November"){
        @for (item of [].constructor(30); track $index) {
        <div class="col_customer">
            <div class="card h-100 border-0">
                <div class="card-title text-center p-1">{{$index+1}}</div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <app-modal [data]="$index+1" [mounth]="mounth" (buttonClicked)="onButtonClick($index)"
                        [updateTravels]="clickDelete"></app-modal>
                </div>
            </div>
        </div>
        }
        }@else if (mounth === "February") {
        @for (item of [].constructor(28); track $index) {
        <div class="col_customer">
            <div class="card h-100 border-0">
                <div class="card-title text-center p-1">{{$index+1}}</div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <app-modal [data]="$index+1" [mounth]="mounth" (buttonClicked)="onButtonClick($index)"
                        [updateTravels]="clickDelete"></app-modal>

                </div>
            </div>
        </div>
        }
        }@else {
        @for (item of [].constructor(31); track $index) {
        <div class="col_customer">
            <div class="card h-100 border-0">
                <div class="card-title text-center p-1">{{$index+1}}</div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <app-modal [data]="$index+1" [mounth]="mounth" (buttonClicked)="onButtonClick($index)"
                        [updateTravels]="clickDelete"></app-modal>

                </div>
            </div>
        </div>
        }
        }
        <!-- Selected Mounth and generate Calendar -->
    </div>

    <h2 class="text-center display-3 pt-3">Your Trip</h2>

    @if (travels.length > 0) {

    <!-- Generate a card for trip -->

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-5 g-3">
        @for (travel of travels; track $index) {
        <div class="col">
            <div class="card_custom">
                <a [routerLink]="['/travel', travel.place]" class="text-decoration-none">
                    <div class="box_image">
                        @if (travel.image) {
                        <img class="mw-100" src="{{travel.image}}" alt="">
                        }@else {
                        <img class="mw-100" src="/not_available.jpg" alt="" style="object-fit: contain;">
                        }
                    </div>
                    <div class="card-body px-5 py-2  d-flex justify-content-center align-items-center flex-column">
                        <div class="date d-flex justify-content-center align-items-center">
                            <h4 class="text-center fw-light text-white p-2">{{travel.date}}</h4>
                        </div>
                        <h2 class="text-center fw-light py-3">{{travel.place}}</h2>
                        @if (travel.description) {
                        <p class="text-center w-100 textCut">{{travel.description}}</p>
                        } @else {
                        <p class="text-center w-100" style="color: lightgray;">
                            Description none</p>
                        }
                    </div>
                </a>
                <div class="d-flex w-100">
                    <div class="editTrip bg-success w-100 text-center">
                        <app-edit-trip [index]="$index" [travel]="travel" (editClicked)="onEditClick()"></app-edit-trip>
                    </div>
                    <div class="deleteCard bg-danger w-100 text-center">
                        <app-delete-trip [index]="$index" [travel]="travel"
                            (deleteClicked)="onDeleteClick()"></app-delete-trip>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>

    <app-map [travels]="travels"></app-map>
    }

    <!-- Generate a card for trip -->

    @else {
    <!-- Generate Jumbotron -->
    <div class="text-center">
        <a href="#jumbotronId">Add your first trip</a>
    </div>
    }

    }




</div>